.title{
  padding-top: 2% !important;
}


.bodyContainer{
  margin: 2%;
  padding: 1% 5% 2% 5%;
  background-color: white;
}
.searcherContainer{
  background-color: #F6F5F5;
  width: 70%;
  border: 1px solid #ccc;
  padding: 10px;
  display: flex;
  margin: 3% 15% 3% 15%;
  border-radius: 10px;
}
input[type="text"] {
  background-color: #F6F5F5;
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
  padding: 5px;
  border: none;
  outline: none;
}
.searcherContainer mat-icon{
  margin-top: 0.5%;
  margin-left: 1%;
}




.projectsContainer{
  display: flex;
  font-size: xx-large;
  border-radius: 4px;
}
.project{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  padding: 5%;
  border: solid white 1px;
  font-family: 'Arimo', sans-serif;
  max-width: 8em;
  max-height: 6em;
}
.project:hover{
  border: solid black 1px;
  text-decoration: underline;
  cursor: pointer;

}

