<mat-drawer-container id="appear" class="example-container" hasBackdrop="true">
    <mat-drawer #drawer mode="over">

      <!--Tasklist container -->
      <ng-container
      *ngFor="let tasklist of tasklists">

        <div class="node">
          <input type="checkbox" [(ngModel)]="taskVisible[tasklist.name]">
          <span>{{tasklist.name}}</span>
          <button  mat-icon-button matTooltip="More Options" [matMenuTriggerFor]="optionsMenu" class="hover-display"
              #menuTrigger="matMenuTrigger" >
              <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #optionsMenu="matMenu" [overlapTrigger]="false">
          <button mat-menu-item (click)="openDialog(tasklist.id,1, 'Editar '+tasklist.name, tasklist.name, tasklist.description, '', '', '')">
            Editar
          </button>
          <button mat-menu-item (click)="openDialog(tasklist.id,6, 'Afegir projecte  '+tasklist.name, tasklist.name, tasklist.description, '', '', '')">
            Afegir projecte
          </button>
        </mat-menu>
        </div>


        <!--Project container -->
        <ng-container *ngIf="taskVisible[tasklist.name]">
          <div class="node"
          *ngFor="let task of tasklist.tasks" style="margin-left: 1em">
            <div class="node">
              <input type="checkbox" [(ngModel)]="taskVisible[task.content]" style="accent-color:#2C97FB">
              <mat-accordion style="width: 300px">
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                          <div class="node">
                            <p class="flatButton"> {{task.content}}</p>
                          </div>
                    </mat-panel-title>
                  </mat-expansion-panel-header>


              <!--Task container -->

                <div
                  *ngFor="let pred of task.predecessors" class="pred">
                    {{pred.name}}
                  <input style="justify-content: space-between" type="checkbox" [(ngModel)]="taskVisible[pred.name]">
                </div>


             </mat-expansion-panel>
            </mat-accordion>
           </div>
            <button  mat-icon-button matTooltip="More Options" [matMenuTriggerFor]="optionsMenu" class="hover-display"
                #menuTrigger="matMenuTrigger" >
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #optionsMenu="matMenu" [overlapTrigger]="false">
              <button mat-menu-item (click)="openDialog(task.id,2,'Editar projecte '+task.content, task.content, task.description, '', '', '')">
                Editar
              </button>
              <button mat-menu-item (click)="openDialog(task.id,7, 'Afegir tasca a  '+tasklist.name, '', task.description, today,today,task['tag'])">
                Afegir tasca
              </button>
            </mat-menu>
          </div>
        </ng-container>

        <mat-divider></mat-divider>
      </ng-container>
    </mat-drawer>



  <!--Header -->
    <mat-drawer-content>
      <div class="nav">
        <div class="title" [routerLink]="['/']">teamwork <p style="color:#ff22b1;">.</p> Gantt</div>
        <div class="user"><div class="user"><mat-icon> person_pin</mat-icon><p>user</p></div><button (click)="logout()" class="logout">Logout</button></div>
      </div>



      <!--Gantt header -->
      <div class="ganttHeadContainer">
        <button class="botonDrawer" mat-raised-button (click)="drawer.toggle()"><mat-icon>filter_list</mat-icon></button>
        <div  class="projectTitle">
          <div class="titleContainer">
            <button class="projectTitle" [matMenuTriggerFor]="menu">
              <ng-container *ngIf="tasklists">
              {{tasklists[0]?.projectName}}
              </ng-container>
            </button>
          </div>
          <div (click)="changeMode(1)" *ngIf="calendarMode==0">Setmanal</div>
            <div (click)="changeMode(0)" *ngIf="calendarMode==1">Mensual</div>
          <mat-menu #menu="matMenu">
            <button (click)="openDialog(tasklists[0].projectId,4, 'Crear llista de tasques', '', '', '', '','')" mat-menu-item>
              Crear llista de tasques
            </button>
            <button (click)="openDialog(tasklists[0].projectId,5, 'Editar '+ tasklists[0].projectName,tasklists[0].projectName, '', '','', '')" mat-menu-item>
              Editar projecte
            </button>
          </mat-menu>
        </div>
        <div class="projectTitle2">
          <p class="yearContainer"><mat-icon>calendar_today</mat-icon>{{currentYear}}</p>
        </div>
      </div>



      <!--Gantt container -->
      <div class="struct">
        <button class ="minifab" mat-mini-fab color="primary"  (click)="changeDate(-1)">
          <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
        <div
          class="ganttContainer">
<!--
          <div class = "head" *ngIf="reloadList">

            <div  class="column" *ngFor="let week of weekCalendar['weekPlan']">
              <p class="week">{{week.week}}</p>
               <mat-list>
                <mat-divider></mat-divider>
              <div *ngFor="let task of week.tasks" class="subtasks">

                <p *ngIf="taskVisible[task.content]">{{task.content}}</p>
              </div>
                </mat-list>
            </div>

          </div>
          -->
          <ng-container *ngIf="weekCalendar">
          <table class="custom-table">
            <thead>
              <tr *ngIf="reloadList">
                <th></th> <!-- Celda vacía en la esquina superior izquierda -->
                <th *ngFor="let week of weekCalendar['weekPlan']" class="head">{{week?.week}}</th>

              </tr>
            </thead>

              <ng-container *ngFor="let tasklist of weekCalendar['clients']">
                <ng-container *ngIf="taskVisible[tasklist]">
                  <tr>
                    <th ><p class="fixedSize">{{tasklist}}</p></th>
                    <td [style.height.%]="clients" *ngFor="let week of weekCalendar['weekPlan']" (dragover)="allowDrop($event)" (drop)="dropTask($event, week['week'])">
                      <ng-container *ngFor="let task of week['tasks']" >
                        <ng-container *ngIf="taskVisible[task.content]">
                          <ng-container *ngIf="taskVisible[task['todo-list-name']]">
                            <p  [ngStyle]="{'color': task.tags? task?.tags[0]['color']: 'black'}"
                                (dblclick)="openDialog(task.id,3, 'Editar '+task.content, task.content,
                                 task.description, task['start-date'], task['due-date'], task['tags']?.[0]?.name || '')"
                               *ngIf="task['todo-list-name'] == tasklist"
                               class="tarea" draggable="true"
                               (dragstart)="dragTask($event, task, week['week']) "
                                matTooltip="Progrés: {{task.progress}}%">
                                {{task.content}}
                            </p>
                          </ng-container>
                        </ng-container>
                      </ng-container>
                    </td>
                  </tr>
                </ng-container>
              </ng-container>


          </table>
          </ng-container>
        </div>
        <button mat-mini-fab class ="minifab" color="primary" (click)="changeDate(1)">
          <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
      </div>
    </mat-drawer-content>
</mat-drawer-container>
