<mat-drawer-container id="appear" class="example-container" hasBackdrop="true">
    <mat-drawer #drawer mode="over">
      <div
    *ngFor="let tasklist of tasklists">
      <mat-divider></mat-divider>
      <input type="checkbox" [(ngModel)]="taskVisible[tasklist.name]">
        <button mat-raised-button (click)="abrirDialogo(tasklist.id,1, 'Editar '+tasklist.name, tasklist.name)" >
          {{tasklist.name}}
        </button>
        <button   mat-icon-button color="basic" (click)="abrirDialogo(tasklist.id,6, 'Afegir tasca a  '+tasklist.name, tasklist.name)"  aria-label="add task to tasklist">
         <mat-icon >add_circle</mat-icon>
        </button>
      <div
      *ngFor="let task of tasklist.tasks" style="margin-left: 1em">
        <input type="checkbox" [(ngModel)]="taskVisible[task.content]">
          <button mat-raised-button (click)="abrirDialogo(task.id,2,'Editar '+task.content, task.content)" >
            {{task.content}}
          </button>
        <button mat-icon-button color="primary" (click)="abrirDialogo(task.id,7, 'Afegir subtasca a  '+tasklist.name, '')" aria-label="add task to tasklist">
         <mat-icon>add_circle</mat-icon>
        </button>
        <div
          *ngFor="let pred of task.predecessors" style="margin: 2em">
          <button mat-raised-button (click)="abrirDialogo(pred.id,3, 'Editar '+pred.name, pred.name)" >
            {{pred.name}}
          </button>
          <input type="checkbox" [(ngModel)]="taskVisible[pred.name]">
        </div>
      </div>

    </div>
    </mat-drawer>
    <mat-drawer-content>
      <div class="nav">
        <div class="title" [routerLink]="['/']">teamwork <p style="color:#ff22b1;">.</p> Gantt</div>
        <div class="user"><div class="user"><mat-icon> person_pin</mat-icon><p>user</p></div><button (click)="logout()" class="logout">Logout</button></div>

      </div>



      <div class="ganttHeadContainer">
        <button class="botonDrawer" mat-raised-button (click)="drawer.toggle()"><mat-icon>filter_list</mat-icon></button>
        <div  class="projectTitle">
          <div class="titleContainer">
          <button class="projectTitle" [matMenuTriggerFor]="menu">
            {{tasklists[0].projectName}}
          </button>
          <p class="yearContainer"><mat-icon>calendar_today</mat-icon>  {{currentYear}}</p>
          </div>
          <mat-menu #menu="matMenu">
            <button (click)="abrirDialogo(tasklists[0].projectId,4, 'Crear llista de tasques', '')" mat-menu-item>
              Crear llista de tasques
            </button>
            <button (click)="abrirDialogo(tasklists[0].projectId,5, 'Editar '+ tasklists[0].projectName,tasklists[0].projectName)" mat-menu-item>
              Editar projecte
            </button>
          </mat-menu>
        </div>
      </div>
      <div class="struct">
        <button class ="minifab" mat-mini-fab color="primary"  (click)="changeDate(-1)">
          <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
        <div
          class="ganttContainer">
<!--
          <div class = "head" *ngIf="reloadList">

            <div  class="column" *ngFor="let week of weekCalendar['weekPlan']">
              <p class="week">{{week.week}}</p>
               <mat-list>
                <mat-divider></mat-divider>
              <div *ngFor="let task of week.tasks" class="subtasks">

                <p *ngIf="taskVisible[task.content]">{{task.content}}</p>
              </div>
                </mat-list>
            </div>

          </div>
          -->
          <table class="custom-table">
  <thead>
    <tr *ngIf="reloadList">
      <th></th> <!-- Celda vacía en la esquina superior izquierda -->
      <th *ngFor="let week of weekCalendar['weekPlan']" >{{week.week}}</th>

    </tr>
  </thead>
  <tbody>
    <tr class="clients" *ngFor="let tasklist of weekCalendar['clients']">
        <th>{{tasklist}}</th>
        <td *ngFor="let week of weekCalendar['weekPlan']">
          <div *ngFor="let task of week['tasks']">
          <p *ngIf="task['todo-list-name'] == tasklist">{{task.content}}</p>
            </div>
        </td>
    </tr>
<ng-template #emptyState>
  Valor vacío
</ng-template>
  </tbody>
</table>
        </div>
        <button mat-mini-fab class ="minifab" color="primary" (click)="changeDate(1)">
          <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
      </div>
    </mat-drawer-content>
</mat-drawer-container>
