.title{
  padding-top: 2% !important;
}
.projectTitle{
  font-size: x-large;
  margin: 0.5% 0% 0% 0.5%;
  color:white;
  font-family: 'Righteous', cursive;
  background-color: #0A0043;
  border: none;
}
.titleContainer{
  display: flex;
}
.yearContainer{
  display: flex;
  margin-left: 55em;
  margin-top: 0.7em;
}
.ganttHeadContainer{
  display: flex;
}
.botonDrawer{
  margin: 1% 0% 0% 5%;
}
.ganttContainer{
  background-color: #FFFFFF;
  min-height: 40rem;
  max-height: 300em;
  margin: 0% 0% 0% 0%;
  border-radius: 5px;
  width: 100%;
   display: flex;
  justify-content: center;
}





.custom-table {
  width: 100%;

  border: 1px solid black;
}
.custom-table th:first-child,
.custom-table td:first-child {
  width: 5%;padding: 0;
}

.custom-table th,
.custom-table td {
  padding: 0!important;
  border: solid black 1px;
}
.custom-table th:not(:first-child),
.custom-table td:not(:first-child) {
  width: calc((100% - 5%) /  7);
}
.tarea{
  display: flex;
  flex-wrap: wrap;
}



mat-raised-button{
  padding-top: 10%;
}

.example-container {
  height: 100%;
  width: 100%;
}

mat-drawer {
  width: 400px;
}

mat-drawer-content {
  background-color:#0A0043 !important;
}
input[type="checkbox"]{
 transform: scale(1.5);
  margin-left: 0.5em;
}
.head{
  display: flex;
  font-size: large;
  font-family: 'Righteous', cursive;
  justify-content: space-between;

}
.column{
  display: flex;
  width: 100%;
  background-color: #f0f0f0;
  padding: 10px;
  box-sizing: border-box;
  height: 100%;
  border-right: 0.5px solid rgba(156, 139, 156, 0.5);
  border-left: 0.5px solid rgba(156, 139, 156, 0.5);
  flex-direction: column;
  align-items: center;
}
mat-divider{
  margin-bottom: 5%;
}
.subtasks{
  align-self: flex-start;
  padding: 0;
  font-family: 'Arimo', sans-serif;
}

.struct{
  display: flex;
  height: 10%;
  width: 100%;
}

.minifab{
  margin-top: 1em;
  transform: scale(0.85);
}






