<h1 class="title">teamwork<p style="color:#ff22b1;">.</p>Gantt</h1>
<section id="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
        <div class="mat-card-header">
            <mat-card-title class="mx-auto text-center"
                >Manage Your Team</mat-card-title
            >
        </div>

        <form class="login-form" action="">
            <mat-card-content>
                <mat-form-field class="login-field">
                    <input
                        matInput

                        type="text"
                        placeholder="Dirección de correo electrónico"
                        required
                    />
                    <mat-error *ngIf="email.invalid">
                        {{ getEmailErrorMessage() }}
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="password-field">
                    <div>
                        <!-- <span>¿Has olvidado la contraseña?</span> -->
                    </div>
                    <input
                        id="password"
                        matInput
                        (input)="errorMsg = ''"
                        cle
                        placeholder="Contraseña"
                        required
                        [type]="hide ? 'password' : 'text'"
                    />
                    <i
                        class="material-icons cursor-pointer"
                        matSuffix
                        (click)="hide = !hide"
                    >
                        {{ hide ? 'visibility' : 'visibility_off' }}
                    </i>
                    <mat-error *ngIf="password.invalid">
                        {{ getPasswordErrorMessage() }}
                    </mat-error>
                </mat-form-field>
            </mat-card-content>

            <p *ngIf="errorMsg" class="mat-error">{{ errorMsg }}</p>

            <button
                mat-stroked-button
                class="btn-primary"
                type="submit"
                (click)="formSubmit()"
                [disabled]="!form.valid"
            >
                Iniciar sesión
            </button>
        </form>

        <p class="text-center">
            ¿No tienes una cuenta? <a routerLink="/register">Regístrate</a>
        </p>
    </mat-card>
</section>
