<div class="loginBackground">
  <div class="title">teamwork <p style="color:#ff22b1;">.</p> Gantt</div>

  <form class="example-form">
    <h3>Inici</h3>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Email d'entrada</mat-label>
      <input matInput id="username" placeholder="beedata@example.com" [formControl]="email" required [(ngModel)]="username">
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Contrasenya</mat-label>
      <input matInput id="password" required placeholder="Escriu la contrasenya" value="" name="password" type="password"
        [(ngModel)]="password">
    </mat-form-field>
    <div *ngIf="this.loginError" style="color:red;">Error al fer inici de sessió.</div>
    <button mat-raised-button style="background-color:#2C97FB; color:white" [disabled]="!isLoginFormValid()"
      (click)="formSubmit()">Entrar</button>
  </form>
</div>
