<h1 mat-dialog-title>{{data.title}}</h1>
<div class="matClass" mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Nom</mat-label>
    <input matInput [(ngModel)]="data.name">

  </mat-form-field>
  <mat-form-field appearance="fill" *ngIf="data.mode==3 || data.mode==6 || data.mode==7">
    <mat-label>Data</mat-label>
    <input matInput [matDatepicker]="picker" (dateChange)="onDateChange($event)" [(ngModel)]="data.date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="cancelar()">Cancelar</button>
  <button mat-button  [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
</div>
