/* You can add global styles to this file, and also import other style files */

.title{

  font-family: 'Righteous', cursive;
  display: flex;
  padding: 5% 0 0 4%;
  font-size: xxx-large;
}


body{
  background-color:#0A0043 !important;
}
